{
  "printWidth": 180,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "semi": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf"
}
